ul {
    cursor: pointer;
}

/* Định dạng cho <ul> để dễ nhìn */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f0f0f0; /* Màu nền */
    margin: 5px 0;
    border-radius: 10px; /* Bo góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */
}

li:hover {
    background-color: #f32222; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Màu nền mặc định */
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/* Class thay đổi màu khi click */
.clicked {
    background-color: #17d45c; /* Màu nền khi click */
}

button:active {
    background-color: #ff6347; /* Màu nền khi nhấn (active) */
}